// GLOBAL
body{
 background-color: #181719;
 color: #FFFFFF;
 margin-left: 60px;
 margin-right: 60px;
}

a:link, a:visited {
 color: white;
}

@font-face {
 font-family: "Montserrat-medium";
 src: url("./assets/fonts/Montserrat/Montserrat-Medium.woff") format("woff");
}

@font-face {
 font-family: "Montserrat-light";
 src: url("./assets/fonts/Montserrat/Montserrat-Light.woff") format("woff");
}

@font-face {
 font-family: "Montserrat-bold";
 src: url("./assets/fonts/Montserrat/Montserrat-Bold.woff") format("woff");
}

@font-face {
 font-family: "Lora-medium";
 src: url("./assets/fonts/Lora/Lora-Medium.woff") format("woff");
}

@font-face {
 font-family: "Lora-bold";
 src: url("./assets/fonts/Lora/Lora-Bold.woff") format("woff");
}

@font-face {
 font-family: "Crimson-extralight";
 src: url("./assets/fonts/Crimson/CrimsonPro-ExtraLight.woff") format("woff");
}


a{
 text-decoration: none;
}

// MEDIA QUERIES
@media (max-width: 850px) {
 body{
  margin-left: 16px;
  margin-right: 16px;
 }

 main{
  flex-direction: column;

  .catchphrase{
   width: 100%;
   margin-bottom: 1.25rem;
  }

  .catchimages{
   width: 100%;
  }
 }

}

@media (min-width: 950px) {
 .tweet{
  width: 410px;
  height: 189px;
 }
}

// NAVBAR

nav{
 display: flex;
 justify-content: space-between;
 height: 60px;
 width: 100%;

 ul{
  list-style-type: none;
 }
}

.div-logo{
 font-family: 'Crimson-extralight';
 margin-top: 1.25rem;

 a{
  border: solid 1px;
  padding: 8px;
 }
}

.div-links{
 font-family: 'Montserrat-Medium';
 width: 80%;

 ul{
  display: flex;
  justify-content: space-between;
  height: 100%;
  float: right;
  line-height: 100%;
 }
}

// HOME MAIN
main{
 display: flex;
}

.catchphrase{
 width: 35%;

 h1{
  font-family: 'Lora-medium';
  font-size: 3rem;
 }

 p{
  font-family: 'Montserrat-Medium';
  font-size: 1.5rem;
 }

 a{
  font-family: 'Montserrat-bold';
  font-size: 1.125rem;
  transition: 1s;
  
  &:hover{
   text-decoration: underline;
  }
 }
}

.catchimages{
 width: 65%;
 position: relative;

 .home-picture{
  width: 100%;
  max-width: 700px;
  height: auto;
  float: right;
 }
}

.tweet{
 width: 300px;
 height: 138px;
 z-index: 10;
 background-color: #181719;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 bottom: -20% ;
 right: 5%;
 position: absolute;
 padding: 1.625rem;

 .head-tweet{
  display: flex;
  height: 55px;

  img{
   border-radius: 50%;
  }

  .title-tweet{
   margin-left: 1rem;
   line-height: 0;
   font-family: 'Montserrat-medium';

   .gray{
    color: #828282;
   }
  }
 }

 .content-tweet{
  font-size: 1.5rem;
  font-family: 'Lora-bold';
 }
}

// FOOTER
footer{
 p{
  font-family: 'Montserrat-medium';
  text-align: center;
  color: #A9A9A9;
 }
}