body {
  background-color: #181719;
  color: #FFFFFF;
  margin-left: 77px;
  margin-right: 77px;
}

a:link, a:visited {
  color: white;
}

@font-face {
  font-family: "Montserrat-medium";
  src: url("./assets/fonts/Montserrat/Montserrat-Medium.woff") format("woff");
}

@font-face {
  font-family: "Montserrat-light";
  src: url("./assets/fonts/Montserrat/Montserrat-Light.woff") format("woff");
}

@font-face {
  font-family: "Montserrat-bold";
  src: url("./assets/fonts/Montserrat/Montserrat-Bold.woff") format("woff");
}

@font-face {
  font-family: "Lora-medium";
  src: url("./assets/fonts/Lora/Lora-Medium.woff") format("woff");
}

@font-face {
  font-family: "Lora-bold";
  src: url("./assets/fonts/Lora/Lora-Bold.woff") format("woff");
}

@font-face {
  font-family: "Crimson-extralight";
  src: url("./assets/fonts/Crimson/CrimsonPro-ExtraLight.woff") format("woff");
}

a {
  text-decoration: none;
}

@media (max-width: 850px) {
  body {
    margin-left: 16px;
    margin-right: 16px;
  }
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .catchphrase {
    width: 100%;
    margin-bottom: 1.25rem;
  }
  main .catchimages {
    width: 100%;
  }
}

@media (min-width: 950px) {
  .tweet {
    width: 410px;
    height: 189px;
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
  width: 100%;
}

nav ul {
  list-style-type: none;
}

.div-logo {
  font-family: 'Crimson-extralight';
  margin-top: 1.25rem;
}

.div-logo a {
  border: solid 1px;
  padding: 8px;
}

.div-links {
  font-family: 'Montserrat-Medium';
  width: 80%;
}

.div-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  float: right;
  line-height: 100%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catchphrase {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catchphrase h1 {
  font-family: 'Lora-medium';
  font-size: 3rem;
}

.catchphrase p {
  font-family: 'Montserrat-Medium';
  font-size: 1.5rem;
}

.catchphrase a {
  font-family: 'Montserrat-bold';
  font-size: 1.125rem;
  -webkit-transition: 1s;
  transition: 1s;
}

.catchphrase a:hover {
  text-decoration: underline;
}

.catchimages {
  width: 65%;
  position: relative;
}

.catchimages .home-picture {
  width: 100%;
  max-width: 700px;
  height: auto;
  float: right;
}

.tweet {
  width: 300px;
  height: 138px;
  z-index: 10;
  background-color: #181719;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  bottom: -20%;
  right: 5%;
  position: absolute;
  padding: 1.625rem;
}

.tweet .head-tweet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 55px;
}

.tweet .head-tweet img {
  border-radius: 50%;
}

.tweet .head-tweet .title-tweet {
  margin-left: 1rem;
  line-height: 0;
  font-family: 'Montserrat-medium';
}

.tweet .head-tweet .title-tweet .gray {
  color: #828282;
}

.tweet .content-tweet {
  font-size: 1.5rem;
  font-family: 'Lora-bold';
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer p {
  font-family: 'Montserrat-medium';
  text-align: center;
  color: #A9A9A9;
}
/*# sourceMappingURL=style.css.map */